
<%= form_with model: song do |form| %>
  <div class="h-64 mb-6">
    <div class="relative">
      <div class="bg-gray-400 h-64 w-64 -ml-32 absolute top-1/2 left-1/2">
        <label class="">
          <div class="w-full h-full"></div>
          <%= form.file_field :cover_img, class: "hidden" %>
        </label>
      </div>
    </div>
  </div>
  <div>
    <%= form.text_field :name, placeholder:'曲名' %>
  </div>
  <div>
    <%= form.text_field :artist, placeholder:'アーティスト名' %>
  </div>
  <div>
    <%= form.text_field :minutes, value: to_minutes(song.duration_time) %>
    <%= form.label :minutes, '分' %>
    <%= form.text_field :seconds, value: to_remaining_seconds(song.duration_time) %>
    <%= form.label :seconds, '秒' %>
  </div>
  <div>
    <%= form.label :transposition, 'キー' %>
    <%= form.number_field :transposition, in: -7..7, step: 1 %>
  </div>
  <div>
    <%= form.label :memo, 'メモ' %>
    <div>
      <%= form.text_area :memo %>
    </div>
  </div>
  <%= form.submit '登録する' %>
<% end %>
