<h1>レパートリー</h1>

<% if @artist %>
  <%= link_to '<', songs_path(sort_by: 'artists') %>
  <%= @artist %>
<% else %>
  <%= select :option, :filter, options_for_select([['曲', songs_path(sort_by: 'songs')], ['アーティスト', songs_path(sort_by: 'artists')]], songs_path({sort_by: @sort_by})), {}, {onchange:"Turbo.visit(value)"} %>
<% end %>

<% if @sort_by == 'artists' %>
    <% @artists.each do |artist| %>
    <div>
      <p><%= link_to artist, songs_path(filter_by: artist) %><p>
    </div>
  <% end %>
<% else %>
  <% @songs.each do |song| %>
    <div>
      <p><%= link_to song.name, song %></p>
      <p><%= song.artist %><p>
    </div>
  <% end %>
<% end %>
