<h1>レパートリー</h1>
<%= link_to '+', new_song_path %>
<div>
  <% if @artist %>
    <%= link_to '<', songs_path(sort_by: 'artists') %>
    <%= @artist %>
  <% else %>
    <%= select :option, :filter, options_for_select([['曲', songs_path(sort_by: 'songs')], ['アーティスト', songs_path(sort_by: 'artists')]], songs_path({sort_by: @sort_by})), {}, {onchange:"Turbo.visit(value)"} %>
  <% end %>
</div>
<% if @sort_by == 'artists' %>
    <% @artists.each do |artist| %>
    <div>
      <p><%= link_to artist, songs_path(filter_by: artist) %><p>
    </div>
  <% end %>
<% else %>
  <% @songs.each do |song| %>
    <div class="mb-3 p-2 flex">
      <div class="mr-4">
        <p><%= link_to song.name, song %></p>
        <p><%= song.artist %><p>
      </div>
      <div>
        <p><%= link_to '削除', song, data: { turbo_method: :delete } %></p>
      </div>
    </div>
  <% end %>
<% end %>
