<% if @song.cover_img? %>
  <%= image_tag @song.cover_img.url, size: "300x300" %>
<% end %>
<h1><%= @song.name %></h1>
<p><%= @song.artist %></p>
<p><%= mitunes_seconds(@song.duration_time) %></p>
<p><%= @song.transposition %></p>
<%= link_to '戻る', songs_path %>
