<!DOCTYPE html>
<html>
  <head>
    <title>SetlistHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="">
      <%= yield %>
    </main>

    <% if request.path.start_with?('/songs') || request.path == '/setlists' %>
      <footer class="h-16 p-1 fixed w-full bottom-0 bg-white border">
        <nav class="align-center flex w-full h-full">
          <div class="pt-4 h-full w-1/2 text-center <%= 'bg-blue-300' if current_page?(songs_path) %>"><%= link_to 'レパートリー', songs_path, class: "" %></div>
          <div class="pt-4 h-full w-1/2 text-center <%= 'bg-blue-300' if current_page?(setlists_path) %>"><%= link_to 'セットリスト', setlists_path, class: "" %></div>
        </nav>
      </footer>
    <% end %>

  </body>
</html>
